*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    --colorBG:#14C3A2;
    --color1:#fff;
}

body{
    background-color: #9AEDB5;
    height: 100vh;
}
.titulo{
    margin-top: 40px;
    text-align: center;
    font-size: 70px;
    font-family: 'Rubik', sans-serif;
    color: #737373;
    font-weight: 600;
}

.tudo{
    margin-top: 7vh;
}

.principal{
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.area-principal{
    padding: 50px;
    background-color: var(--colorBG);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px;
}

.img{
    width: 200px;
}

.letras{
    display: flex;
    gap: 10px;
}

.divLetra{
    border-radius: 10px;
    border: 2px solid #737373;
    width: auto;
    padding: 3px 15px;
    background-color: #fff;
}

.divLetra p{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #737373;
    font-size: 55px;
}

.div-botoes{
    display: flex;
    gap: 25px;
}

.btn{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 70px;
    color: #5F5D5D;
    border: 4px solid #737373;
    cursor: pointer;
}

.amarelo{
    background-color: #f8d926;
}

.rosa{
    background-color: #FF99B8;
}

.verde{
    background-color: #00FF47;
}

.azul{
    background-color: #64EBF7;
}

.txtErro{
    border: 3px solid var(--colorBG);
    left: 460px;
    margin: 10px;
    background-color: #fff;
}

.msgErro{
    font-size: 20px;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    color: #2e2e2e
}

.erro{
    background-color: rgb(255, 69, 69);
    color: #fff;
}

.active{
    visibility:hidden;
}

.tela-final{
    background-color: var(--colorBG);
}

.tela-final h1{
    color: rgb(142, 0, 185);
}

footer{
    padding: 1vh 0;
}
.copyright{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

.invisivel{
    display: none;
}

/* header */

.header{
    background-color: var(--colorBG);
    height: 130px;
}

.header-games{
    opacity: 0.5;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10vh;
}

nav h1 img{
    height: 130px;
}

ul{
    list-style: none;
}

li a{
    color: var(--color1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

/**/

@media screen and (max-width: 610px){

    .titulo{
        font-size: 60px;
    }

    .area-principal img{
        width: 150px;
    }

    .divLetra p{
        font-size: 40px;
    }

    .btn{
        width: 80px;
        height: 80px;
        font-size: 50px;
    }
}

@media screen and (max-width: 540px){
    .area-principal{
        padding: 40px;
    }
    
    .titulo{
        font-size: 40px;
    }

    .area-principal img{
        width: 120px;
    }

    .divLetra p{
        font-size: 30px;
    }

    .btn{
        width: 60px;
        height: 60px;
        font-size: 40px;
    }
}

@media screen and (max-width: 485px){
    .area-principal{
        padding: 30px;
    }
    
    .titulo{
        font-size: 35px;
    }

    .area-principal img{
        width: 100px;
    }

    .divLetra{
        padding: 3px 10px;
    }

    .divLetra p{
        font-size: 20px;
    }

    .btn{
        width: 40px;
        height: 40px;
        font-size: 20px;
        border: 2px solid #737373;
    }

    .header{
        height: 180px;
    }
    
    nav{
       justify-content: center;
       flex-direction: column;
    }
    
    li a{
        font-size: 25px;
    }
}

@media screen and (max-width: 335px){
    .area-principal{
        padding: 15px 0;
        margin: 0 10px;
    }

    .area-principal img{
        width: 70px;
    }

    .divLetra{
        padding: 3px 9px;
    }

    .divLetra p{
        font-size: 15px;
    }

    .btn{
        width: 40px;
        height: 40px;
        font-size: 22px;
        border: 1px solid #737373;
    }

    .div-botoes{
    gap: 10px;
    }
}